.container {
	max-width: 960px;
}
main {
	padding: 5rem 0;
}
.display-3 {
	padding: 4rem 0;
}
#about-page-wrapper {
	background: url('/app/assets/img/hero.svg') -60px -110px no-repeat;
}
#players-stats > div.col-md-5 {
	border-width: 0.3rem !important;
	border-radius: 1rem;
}
.progress {
	height: 2rem !important;
}
#battle-statistics {
	display: none;
	margin-top: 1rem;
}
#battle-statistics thead th {
	border-top: none !important;
}
.player-luck {
	display: none;
	position: absolute;
	top: 1rem;
}
.player-luck#hero-luck {
	right: 1rem;
}
.player-dead {
	display: none;
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
}
.player-dead h1 {
	font-size: 7rem;
	margin-top: 35%;
}
#fight,
#new-battle {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
}
#new-battle {
	display: none;
}
.spinner-border {
	position: absolute;
	left: 0.8rem;
	top: 1rem;
}

/* header styles -------------------------------------- */
.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	box-shadow: 0 0.05rem 0.8rem rgba(0, 0, 0, 0.5) !important;
}
.site-header .navbar-collapse {
	margin-left: 3rem;
}
.site-header a {
	color: #999999 !important;
	transition: ease-in-out color .15s;
}
.site-header a:hover {
	color: #FFFFFF !important;
	text-decoration: none;
}
.site-header a img {
	height: 2.5rem !important;
}
.site-header a h1 {
	float: right;
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0.2rem 0 0 1rem;
}
.site-header button.navbar-toggler:focus {
	outline: none !important;
}
.site-header .navbar-nav .active > .nav-link {
	color: #FFFFFF !important;
}
/* end header styles ---------------------------------- */

/* footer styles -------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 3rem;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.8) !important;
}
.footer .container {
	height: 2.8rem;
}
.footer span {
	color: #999999;
	transition: ease-in-out color .15s;
}
.footer span:hover {
	color: #FFFFFF;
	text-decoration: none;
}
/* end footer styles ---------------------------------- */